body {
  background-color: black;
}
.spin {
  animation: spin-animation infinite 20s linear;
}
.slideup {
  animation: slideUp 1s ease-out;
}

.hero {
  height: 250px;
  display: grid;
  align-items: center;
  justify-self: center;
  background-size: cover;
  background-position: center;
  margin-top: 5%;
  color: white;
}
.heroHeading {
  text-align: center;
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
